body {
    font-family: Arial;
    width: 100%;
    font-size: 0.9em;
    margin: 60px auto;
}

.heading {
    text-align: center;
}

.form-container {
    border: #e0dfdf 1px solid;
    padding: 30px 30px 10px 30px;
    border-radius: 15px;
    margin: 10px auto;
    width: 500px;
    text-align: center;
}

.input-row {
    margin-top: 0px;
    margin-bottom: 20px;
}

.btn-submit {
    background: #efefef;
    border: #d3d3d3 1px solid;
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
    padding: 12px;
}

.btn-submit:hover {
    background: #d9d8d8;
    border: #c3c1c1 1px solid;
}

.outer-container table {
    border-collapse: collapse;
    width: 100%;
}

.outer-container {
    border-top: 2px solid #dddddd;
    background: #f9f9f9;
    padding: 8px;
    text-align: left;
    font-weight: normal;
}

.outer-container {
    border-top: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

.outer-container label {
    margin-bottom: 5px;
    display: inline-block;
}

#response {
    padding: 10px;
    border-radius: 15px;
}

.success {
    background: #c7efd9;
    border: #bbe2cd 1px solid;
}

.error {
    background: #fbcfcf;
    border: #f3c6c7 1px solid;
}

.file {
    border: 1px solid #cfcdcd;
    padding: 10px;
    border-radius: 20px;
    color: #171919;
    width: 100%;
    margin-bottom: 20px;
}

#userTable {
    margin-top: 40px;
    font-size: 1.0em;
    border-collapse: collapse;
    width: 100%;
}

#userTable th {
    background: #f0f0f0;
    border-bottom: 2px solid #dddddd;
    padding: 10px;
    text-align: left;
}

#userTable td {
    background: #FFF;
    border-bottom: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

label {
    margin-bottom: 5px;
    display: inline-block;
    font-weight: normal;
}


/* .row {
    border: #e0dfdf 1px solid;
    padding: 30px 30px 10px 30px;
    border-radius: 15px;
    text-align: center;
    margin: 10px auto;
    width: 500px;
} */